/* Global Styles */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: block flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: #456990;
    background: linear-gradient(#FFF, #BFD7EA);
}

/* Form */

form {
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 15px 5px #456990;
    background-color: #FFF;
}

h1 {
    display: block flex;
    align-items: center;
    margin: 0;
}

.field {
    display: block flex;
    flex-direction: column-reverse;
    margin: 0.5em 0;
}

/* Input Fields */

input {
    padding: 0.2em;
    border-radius: 0.2em;
    border: solid 1.5px #708090;
    font-family: inherit;
    font-size: 100%;
}

input:not([type="password"]):focus {
    border-color: #456990;
    outline: solid 1.5px #456990;
}

.password-wrapper {
    display: block flex;
    align-items: center;
    border: solid 1.5px #456990;
    border-radius: 0.2em;
}

.password-wrapper input {
    border: none;
}

.password-wrapper input:focus {
    outline: none;
}

.password-wrapper:has(input:focus) {
    border-color: #456990;
    outline: solid 1.5px #456990;
}

.visibility-button {
    display: block flex;
    align-items: center;
    align-self: stretch;
}

.password-wrapper .visibility-button:hover {
    cursor: pointer;
}

/* Labels */

label {
    display: inline flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 70%;
    transform-origin: left top;
    transform: translate(0.13em, 1.85em) scale(1.43);
    transition: transform 0.3s;
}

span {
    font-size: 100% !important;
    margin: 0 0.2em;
}

h1 span {
    margin-left: 0;
}

label:hover {
    cursor: text;
}

input:focus + .label-holder label,
input:not(:placeholder-shown) + .label-holder label,
.password-wrapper:has(input:focus) + .label-holder label,
.password-wrapper:has(input:not(:placeholder-shown)) + .label-holder label {
    transform: translate(0, 0) scale(1);
}

/* Control Buttons */

.controls {
    display: block flex;
    justify-content: flex-end;
    margin-top: 1em;
}

button {
    margin-left: 1em;
    padding: 0.25em 0.5em;
    border-radius: 0.2em;
    border: none;
    box-shadow: 0 0 3px 2px #456990;
    font-family: inherit;
    font-size: 100%;
    background-color: #FFF;
    color: inherit;
}

button:focus {
    outline: solid 3px #456990;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 6px 2px #456990;
}
