/* Global Styles */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: block flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-image: url("tropical-beach.jpg");
    background-size: cover;
    background-position: bottom;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main Layout */

main {
    display: block flex;
    justify-self: center;
    align-items: stretch;
    border-radius: 1em;
}

/* Article */

article {
    width: 300px;
    padding: 2em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background: linear-gradient(rgb(255 255 255 / 0.9), rgb(255 255 255 / 0.3));
}

article h1 {
    margin-top: 0;
    color: #5465FF;
}

/* Form */

form {
    width: 600px;
    padding: 2em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #FFF;
}

/* Trip Type */

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #5465FF;
}

/* Input Fields */

.field {

}

.field label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #5465FF;
}

.field input {
    padding: 1em;
    font-family: inherit;
    font-size: 100%;
    font-weight: bold;
}

/* Location Inputs */

.locations {
    /* display: block flex; */
    /* justify-content: space-around; */
    /* width: 100%; */
}
